@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #3664f4;
  left: -200px;
  transition: all 500ms linear;
  z-index: 999;
}

#sidebar.active {
  left: 0px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

.title-sliderbar {
  text-align: center;
  color: white;
  margin: 20px 0;
  font-weight: 300;
}

#sidebar ul .item {
  display: block;
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: start;
  color: white;
  text-decoration: none;
  transition: all 100ms linear;
}

#sidebar ul .item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* #sidebar ul li a {
    border: 1px solid white;
    text-decoration: none;
    background-color: white;
    padding: 12px 50px;
} */

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}

.content {
  width: 80%;
  height: calc(100vh - 3.5rem);
  position: static;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}
